@{
    ViewData["Title"] = "Home Page";
}
@model IEnumerable<AVG.Contracts.ProjectsResponse>


@foreach (var project in Model)
{
    @if(project.Id % 2 == 0)
    {
        <div class="row gx-0 mb-5 mb-lg-0 justify-content-center align-items-stretch">
            <div class="col-lg-6 text-block d-flex align-items-center">
                @await Html.PartialAsync("ProjectCard", project)
            </div>
            <div class="col-lg-6 image-block d-flex align-items-stretch">
                <img class="img-fluid" src="@project.ImagePath" alt="..." />
             </div>
        </div>
    }
    else
    {
        <div class="row gx-0 mb-5 mb-lg-0 justify-content-center align-items-stretch">
            <div class="col-lg-6 image-block d-flex align-items-stretch">
                <img class="img-fluid" src="@project.ImagePath" alt="..." />
             </div>
            <div class="col-lg-6 text-block d-flex align-items-center">
                @await Html.PartialAsync("ProjectCard", project)
            </div>
        </div>
    }
}
