@{
    ViewData["Title"] = "Home Page";
}
@model IEnumerable<AVG.Models.ProjectModel>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div class="row gx-0 mb-5 mb-lg-0 justify-content-center">
    <div class="col-lg-6"><img class="img-fluid" src="assets/img/calculation_norms.png" alt="..." /></div>
    <div class="col-lg-6">
        <div class="bg-black text-center h-100 project">
            <div class="d-flex h-100">
                <div class="project-text w-100 my-auto text-center text-lg-left">
                    <h4 class="text-white">Calculation of norms</h4>
                    <p class="mb-0 text-white-50">Десктопное приложение для расчета норм основного материала на предприятии.</p>
                    <p></p>
                    <a class="btn btn-primary" href="#about">ПОДРОБНЕЕ</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row gx-0 mb-5 mb-lg-0 justify-content-center">
        <div class="col-lg-6">
        <div class="bg-black text-center h-100 project">
            <div class="d-flex h-100">
                <div class="project-text w-100 my-auto text-center text-lg-left">
                    <h4 class="text-white">Information security</h4>
                    <p class="mb-0 text-white-50">Учебный проект. Методика шифрования и дешифрования по алгоритму RSA</p>
                    <p></p>
                    <a class="btn btn-primary" asp-area="" asp-controller="Home" asp-action="InformationSecurity">ПОДРОБНЕЕ</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6" ><img class="img-fluid" src="assets/img/security1.png" alt="..." /></div>
</div>

<div class="row gx-0 mb-5 mb-lg-0 justify-content-center">
    <div class="col-lg-6"><img class="img-fluid" src="assets/img/comlex_key1.png" alt="..." /></div>
    <div class="col-lg-6">
        <div class="bg-black text-center h-100 project">
            <div class="d-flex h-100">
                <div class="project-text w-100 my-auto text-center text-lg-left">
                    <h4 class="text-white">Complex key</h4>
                    <p class="mb-0 text-white-50">Учебный проект для генерации и обмена ключами по алгоритму Диффи — Хеллмана.</p>
                    <p></p>
                    <a class="btn btn-primary" href="#about">ПОДРОБНЕЕ</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row gx-0 mb-5 mb-lg-0 justify-content-center">
    <div class="col-lg-6">
        <div class="bg-black text-center h-100 project">
            <div class="d-flex h-100">
                <div class="project-text w-100 my-auto text-center text-lg-left">
                    <h4 class="text-white">Pets Search</h4>
                    <p class="mb-0 text-white-50">Дипломный проект. Приложение для умного поиска пропавших животных по фотографии</p>
                    <p></p>
                    <a class="btn btn-primary" href="#about">ПОДРОБНЕЕ</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6"><img class="img-fluid" src="assets/img/pet.png" alt="..." /></div>
</div>




<table class="table">
    <thead>
        <tr>
            <th>Project Name</th>
            <th>Description</th>
            <th>Language</th>
            <th>Technologies</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var project in Model)
        {
            <tr>
                <td>@project.Title</td>
                <td>@project.Description</td>
                <td>@project.Technologies</td>
            </tr>
        }
    </tbody>
</table>
