@{
    ViewData["Title"] = "Контакты";
}

<section class="contact-section bg-black">
    <div class="container px-4 px-lg-5">
        <div class="contact-container">
            <div class="contact-card">
                <i class="fas fa-envelope fa-2x icon"></i>
                <p class="label">ПОЧТА</p>
                <hr class="line">
                <a href="mailto:andrei.gomonec@gmail.com" class="contact-link">andrei.gomonec@gmail.com</a>
            </div>
            <div class="contact-card">
                <i class="fas fa-mobile-alt fa-2x icon"></i>
                <p class="label">ТЕЛЕФОН</p>
                <hr class="line">
                <p class="contact-link">+7 982 703 81 59</p>
            </div>
        </div>
    </div>

    <div class="social d-flex justify-content-center" style="background-color:white">
        <a class="mx-2 social-link" href="https://github.com/kapik95/AVG"><i class="fab fa-github fa-2x icon"></i></a>
    </div>
</section>
